:root {
  color-scheme: light dark;

  --text-color: #334259;
  --text-inverted-color: #fff;
  --background-color: #fff;
  --card-front-background-image: linear-gradient(120deg, #c471f5 0%, #fa71cd 100%);
  --card-back-background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --text-inverted-color: #242828;
    --background-color: #242828;
    --card-front-background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    --card-back-background-image: linear-gradient(120deg, #43e97b 0%, #38f9d7 100%);
  }
}

* {
  box-sizing: border-box;
}

html,
body,
.app-root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.disable-text-selection {
  user-select: none;
}

.move-label {
  padding: 20px 6px;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.full-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  --flipped: 0;
  --card-size: 60px;
  --card-perspective-modifier: 8;

  cursor: pointer;
  display: grid;
  perspective: calc(var(--card-size) * var(--card-perspective-modifier));
  transition: transform .4s;
}

.card:active {
  transform: scale(1.15);
}

.card.toggled {
  --flipped: 1;
}

.card.toggled:active {
  transform: none;
}

.card-front,
.card-back {
  grid-area: 1 / -1 / 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
  font-size: 30px;
  /* card size is 2.5 by 3.5 so 3.5/2.5 gets us 1.4 */
  width: var(--card-size);
  height: calc(var(--card-size) * 1.4);
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.18);
}

.card-front {
  background-image: var(--card-front-background-image);
  transform: rotateY(calc(180deg * var(--flipped)));
}

.card-back {
  background-image: var(--card-back-background-image);
  color: var(--text-inverted-color);
  transform: rotateY(calc(180deg * var(--flipped) - 180deg));
}
