:root {
  color-scheme: light dark;
  font-size: 1.125rem;

  --text-color: #334259;
  --text-inverted-color: #fff;
  --text-muted-color: rgba(0, 0, 0, 0.5);
  --background-color: #fff;
  --button-background-color: #f0f0f0;
  --button-hover-background-color: #e0e0e0;
  --card-front-background-image: linear-gradient(120deg, #c471f5 0%, #fa71cd 100%);
  --card-back-background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --table-row-border-color: #dee2e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --text-inverted-color: #242828;
    --text-muted-color: rgba(255, 255, 255, 0.5);
    --background-color: #242828;
    --button-background-color: #343838;
    --button-hover-background-color: #444848;
    --card-front-background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    --card-back-background-image: linear-gradient(120deg, #43e97b 0%, #38f9d7 100%);
    --table-row-border-color: #555;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app-root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (min-width: 400px) {
  :root {
    font-size: 1.25rem;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-color: var(--table-row-border-color);
  caption-side: bottom;
  margin-bottom: 1rem;
  vertical-align: top;
  width: 100%;
}

table > thead {
  vertical-align: bottom;
}

table > tbody {
  vertical-align: inherit;
}

th,
td {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  border-bottom-color: currentColor;
}

th,
td {
  border-bottom-width: 1px;
  padding: 0.6rem 0.5rem;
  text-align: center;
}

.text-muted {
  color: var(--text-muted-color);
}

.text-center {
  text-align: center;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 6px;
}

.button {
  align-items: center;
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: none;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  justify-content: flex-start;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

.button:active,
.button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--text-color);
}

.button,
.move-label {
  padding: .375rem .75rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 16px;
}

.ModalBackdrop {
  --opacity: 0.5;
  background-color: hsla(0, 0%, 0%, var(--opacity));
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .ModalBackdrop {
    background-color: hsla(0, 0%, 50%, calc(var(--opacity)))
  }
}

.BottomModal {
  align-items: center;
  background-color: var(--background-color);
  --radius: 8px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  bottom: 0;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 400px;
  max-height: 76vh;
  min-height: 72vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.records-list {
  color: var(--text-color);
  overflow-y: auto;
  padding: 0 1rem;
  width: 100%;
}

.disable-text-selection {
  user-select: none;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
  padding: 0 4px;
}

.full-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.card {
  --flipped: 0;
  --card-size: 60px;
  --card-perspective-modifier: 8;

  cursor: pointer;
  display: grid;
  perspective: calc(var(--card-size) * var(--card-perspective-modifier));
  transition: transform .4s;
}

.card:active {
  transform: scale(1.15);
}

.card.toggled {
  --flipped: 1;
}

.card.toggled:active {
  transform: none;
}

.card-front,
.card-back {
  grid-area: 1 / -1 / 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
  font-size: 30px;
  /* card size is 2.5 by 3.5 so 3.5/2.5 gets us 1.4 */
  width: var(--card-size);
  height: calc(var(--card-size) * 1.4);
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.18);
}

.card-front {
  background-image: var(--card-front-background-image);
  transform: rotateY(calc(180deg * var(--flipped)));
}

.card-back {
  background-image: var(--card-back-background-image);
  color: var(--text-inverted-color);
  transform: rotateY(calc(180deg * var(--flipped) - 180deg));
}
